
html{
    padding: -1%;
    margin: -1%;
    box-sizing: border-box;
    overflow: hidden;
    background: #3d0486;
    background-image: radial-gradient( #9b70cf 20%, #3d0486);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    width: 1543px;
    font-family: "nunito";
}

