<div>
    <h1 style="text-align: center;"><b style="color: #f5c769">Enter </b><b style="color: #67128f">your </b> <b style="color: #b1eff3">Details</b></h1>
    <span id="player1">
        <label>Name: </label>
        <input type="text" name="" id="" class="name" value="Player 1" #p1>
    </span>
    <p>X</p>
    <span id="player2">
        <label>Name: </label>
        <input type="text" name="" id="" class="name" value="Player 2" #p2>
    </span>
    <p id="o">O</p>
</div>
<button (click) = "onClick(p1.value, p2.value)">LET'S START</button>