span{
    margin-top: 1%;
    margin-left: 18%;
    padding-left: 1%;
    padding-right: 50%;
    position: absolute;
    background-color: #3d0486;
    border-radius: 20px;
}
h1{
    font-size: 500%;
    padding: 0;
    margin: 6%;
}
label{
    color: #f5c769;
    font-size: 400%;
}
input{
    position: absolute;
    text-align: center;
    background-color: #7444af;
    color: white;
    font-weight: bolder;
    border: none;
    margin-top: 2%;
    margin-left: 2%;
    padding: 1%;
    border-radius: 20px;
    font-size: large;
}
p{
    position: absolute;
    font-size: 300%;
    margin-top: 1.9%;
    margin-left: 75%;
    color: #b1eff3;
}
#player2{
    margin-top: 10%;
}
#o{
    margin-top: 10.5%;
}
button{
    margin-top: 300px;
    margin-left: 38%;
    padding: 0.7% 8%;
    border-radius: 20px;
    border: none;
    font-size: large;
    color: #3d0486;
    box-shadow:10px 10px 5px black;
    cursor: pointer;
    font-weight: bolder;
}
